<header class="header">
  <div class="container header-wrapper">
    <a routerLink="/">
      <img class="logo" src="/assets/img/logo.svg" alt="logo">
    </a>
    <nav class="navigation">
      <ul class="navigation-ul">
        <li class="navigation-li inline-block vertical-middle">
          <a routerLink="/" class="navigation-a"> home </a>
        </li>
        <li class="navigation-li inline-block vertical-middle">
          <a routerLink="/newses" class="navigation-a"> news </a>
        </li>
        <li class="navigation-li inline-block vertical-middle">
          <a routerLink="/about" class="navigation-a"> about </a>
        </li>
        <li class="navigation-li inline-block vertical-middle">
          <a routerLink="/contact" class="navigation-a"> contact </a>
        </li>
      </ul>
    </nav>
    <ul class="social-ul">
      <li class="social-li">
        <a href="https://www.facebook.com" target="blank" class="social-a inline-block">
          <img class="img" src="/assets/img/fb.svg" alt="fb">
        </a>
      </li>
      <li class="social-li">
        <a href="https://youtube.com" target="blank" class="social-a inline-block">
          <img class="img" src="/assets/img/youtube.svg" alt="fb">
        </a>
      </li>
      <li class="social-li">
        <a href="#" class="social-a inline-block">
          <img class="img" src="/assets/img/fb.svg" alt="fb">
        </a>
      </li>
      <li class="social-li">
        <a href="#" class="social-a inline-block">
          <img class="img" src="/assets/img/fb.svg" alt="fb">
        </a>
      </li>
    </ul>
  </div>
</header>
